body {
	background: url(https://ncheater.github.io/aula/img/capa.jpg) no-repeat center center fixed;
	backgroud-attachment: fixed;
  	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
	
}

.footerstyle {
	padding: 20px 0px 20px 0px;
	background-color: #343a40;
	margin-right: 0px;
	margin-left: 0px;
}

.copyrightstyle {
	background-color: #22292f;
	text-align: center;
	color: #9a9da0;
}
