body {
	background: url(https://ncheater.github.io/aula/img/capa.jpg) no-repeat center center fixed;
	backgroud-attachment: fixed;
  	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
	
}

.contentstyle {
	word-wrap: break-word;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	box-shadow: 0 0 1px 3px black;	
}

.footerstyle {
	padding: 20px 0px 20px 0px;
	background-color: #343a40;
	margin-right: 0px;
	margin-left: 0px;
}

.copyrightstyle {
	background-color: #22292f;
	text-align: center;
	color: #9a9da0;
}
a:link {
    color: #00000000; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: #00000000;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #00000000;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #00000000;
    background-color: transparent;
    text-decoration: underline;
}
