body {
	background: url(https://ncheater.github.io/aula/img/capa.jpg) no-repeat center center fixed;
	backgroud-attachment: fixed;
  	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
}

.footerstyle {
	text-align: center;
	width: 100%;
	word-spacing: 30px;
}

.copyrightstyle {
	background-color: #22292f;
	text-align: center;
	color: #9a9da0;
}

#facebook {
	background-image: url(https://ncheater.github.io/aula/img/facebook.png);
	height: 32px;
	width: 32px;
}

#facebook:hover {
	background-image: url(https://ncheater.github.io/aula/img/facebook_d.png);
	height: 32px;
	width: 32px;
}

#twitter {
	background-image: url(https://ncheater.github.io/aula/img/twitter.png);
	height: 32px;
	width: 32px;
}

#twitte:hover {
	background-image: url(https://ncheater.github.io/aula/img/twitter_d.png);
	height: 32px;
	width: 32px;
}

#gplus {
	background-image: url(https://ncheater.github.io/aula/img/gplus.png);
	height: 32px;
	width: 32px;
}

#gplus:hover {
	background-image: url(https://ncheater.github.io/aula/img/gplus_d.png);
	height: 32px;
	width: 32px;
}

#email {
	background-image: url(https://ncheater.github.io/aula/img/email.png);
	height: 32px;
	width: 32px;
}

#email:hover {
	background-image: url(https://ncheater.github.io/aula/img/email_d.png);
	height: 32px;
	width: 32px;
}
